<html>
<head>
    <title>Ad Categories</title>
    <link rel="stylesheet" href="../../asset/css/rafi_css_files/ad_categories.css">
</head>

<body>
    <table align="center">
        <tr>
            <td>
                <fieldset>
                    <legend>
                        <h3>Ad Categories</h3>
                    </legend>
                    <table align="center">
                        <tr>
                            <td>
                                <a
                                    href="../../controller/rafi_controller/ad_categories.php?filter=category&value=Electronics">Electronics</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a
                                    href="../../controller/rafi_controller/ad_categories.php?filter=category&value=Mobile">Mobile</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a
                                    href="../../controller/rafi_controller/ad_categories.php?filter=category&value=Daily Living">Daily
                                    Living</a>
                            </td>
                        </tr>
                    </table>
                </fieldset>
            </td>
        </tr>
    </table>
</body>
</html>