<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Menu</title>
    <link rel="stylesheet" href="admin_menu.css">
    <title>Admin Menu</title>
</head>
<body>
    <div class="main_container">
        <div class="container">
            <header class="header">
                <div class="logo_container">
                    <img src="../../SVG/adventure.svg" alt="adventure logo" height="40px">
                </div>
            </header>
            <div class="welcome_menu">
                <h1>Welcome to the User Menu</h1>
            </div>
            <div class="welcome_admin">
                <h2>Welcome, <span class="adminname">Admin</span>!</h2>
            </div>
            <div class="menu_links">
                <ul>
                    <li><a href="">Dashboard</a></li>
                    <li><a href="">Manage Ads</a></li>
                    <li><a href="">View Users</a></li>
                    <li><a href="">Manage Users</a></li>
                    <li><a href="">View Advertisers</a></li>
                    <li><a href="">Manage Advertisers</a></li>
                    <li><a href="">Ad Analytics</a></li>
                    <li><a href="">System Settings</a></li>
                    <li><a href="">Flagged Content</a></li>
                    <li><a href="">Generate Reports</a></li>
                    <li><a href="">Change Password</a></li>
                </ul>
            </div>
        </div>

        <!-- Footer Section -->
        <footer class="footer">
            <p>footer</p>
        </footer>
    </div>
</body>
</html>