<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="user_menu.css">
    <title>User Menu</title>
</head>
<body>
    <div class="main_container">
        <div class="container">
            <header class="header">
                <div class="logo_container">
                    <img src="../../SVG/adventure.svg" alt="adventure logo" height="40px">
                </div>
            </header>
            <div class="welcome_menu">
                <h1>Welcome to the User Menu</h1>
            </div>
            <div class="welcome_user">
                <h2>Welcome, <span class="username">User</span>!</h2>
            </div>
            <div class="menu_links">
                <ul>
                    <li><a href="">Dashboard</a></li>
                    <li><a href="">View Ads</a></li>
                    <li><a href="">Wishlist</a></li>
                    <li><a href="">Ad Categories</a></li>
                    <li><a href="">Search Ads</a></li>
                    <li><a href="">Feedback</a></li>
                    <li><a href="">View Profile</a></li>
                    <li><a href="">Edit Profile</a></li>
                    <li><a href="">Change Profile Photo</a></li>
                    <li><a href="">Change Password</a></li>
                </ul>
            </div>
        </div>
        <footer class="footer">
            <p>footer</p>
        </footer>
    </div>
</body>
</html>